# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @akgraner @Al-Pragliola @droctothorpe @andreyvelich @andyatmiami @animeshsingh @kramaranya @gaocegege @chensun @ckadner @ederign @fenglixa @pugangxa @elikatsis @zijianjoy @james-jwu @Jeffwan @johnugeorge @jonburdo @jbottum @humairak @kimwnasptd @thesuperzapper @tarilabs @mprahl @zazulam @pboyd @scrapcodes @rimolive @rongou @Electronic-Waste @StefanoFioravanzo @tarekabouzeid @theadactyl @Tomcli @varodrig @franciscojavierarceo @juliusvonkohout @zw0610 @yanniszark @PatrickXYS @IronPan @yhwang @terrytangyuan @tenzen-y 
